$white: white;
$black: black;
$light-gray: #f2f2f2;
$dark-gray: #bfbfbf;

$default_border_color: $black;
$default_text_color: $black;

$footer_background_color: $dark-gray;

$blog_titlebox_background_color: $white;
$blog_title_font_color: $black;
$blog_content_font_color: $black;
