<div id='blog-pagev2_container'>
  <div class='blog-title_container'>
    <%= @blog.title.html_safe %>
  </div>
  <div class='blog-content_container'>
    <%= @blog.content_html.html_safe %>
  </div>
</div>
