#blog-pagev2_container {
  width: 100%;
  height: 100%;

  .blog-title_container {
    background-color: $blog_titlebox_background_color;
    color: $blog_title_text_color;
    line-height: $huge_font_size + 50px;
    height: $huge_font_size + 50px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    font-size: $huge_font_size;
  }

  .blog-content_container {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: $default_border;
    box-shadow: $default_box_shadow;
    color: $blog_content_text_color;

    p {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      font-size: $medium_font_size;
      line-height: $medium_font_size;
    }
    code {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-size: $medium_font_size;
    }
  }
}
